<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Welcome to Rooster, <%= @user.email %></h1>
    
    <p> You have been successfully signed up to Rooster for your job at <%= @user.establishment %>, your email to login is: <%= @user.email %>. </p>

    <p> Your corresponding password is: 12345678 </p>

    <p>Please change your password upon login. </p>

    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>

</body>
</html>

 