<h1> All users </h1>
<% @users.each do |user| %>
  <% if user.admin == true %>
    <%= user_link user %> (admin) <br>
    <% else %>
      <%= user_link user %> <br>
      <% end %>
<% end %>

<br><br><br>

<%= link_to "Add a new employee", add_new_users_path, class: "btn btn-default" %>

