<body class="content-wrapper">
	<h1 class="post-title"> What is Rooster?</h1>

	<div class="events-wrapper">
		<p> Rooster is a web application allowing you and your team to schedule, plan, and discuss efficiently and easily! Whether your team is a work team for a company, or just a group of housemates who want to organize a cleaning schedule, Rooster is not picky! 
		</p>

		<b>So, how exactly does it work? </b>
		<p> One person must sign up, making them the admin of the team. The admin of the team can then add the fellow members. 
		</p>
	</div>
</body>






